.body {
    background-image: url(images/wallpaper.png);
    background-repeat:no-repeat;
    border-radius: 2rem;
    border: 15px solid black;
    overflow: hidden;
    background-size: 97% 94%;
    background-position: center center;
    background-attachment: fixed;
    background-color: gray;
}
@media only screen and (max-width: 599px) {
    .body {
        background-size: calc(100vw - 10vw) calc(100vh - 5vh);
        background-position: calc(35vw - 30vw) calc(35vh - 32vh);
    }
    .file-system {
        left: 6% !important;
        width: 82% !important;
    }
}

@media only screen and (max-width: 320px) {
    .body {
        background-size: 84% 89%;
        background-position: 39% 24%;
    }
}

.main-header {
    padding: 5px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.main {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 80%;
}
.footer {
    position: absolute;
    bottom: 3%;
    opacity: 0.6;
    height: 8%;
    width: 96%;
    background: linear-gradient(45deg, black, transparent);
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.power-icon {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.readme-icon {
    height: 12%;
}

.readme-title {
    padding-left: 1%;
    padding-top: 1%;
    color: lightgray;
}

.trash-icon {
    height: 12%;
    padding-top: 3%;
}

.trash-titile {
    padding-left: 1%;
    padding-top: 1%;
    color: lightgray;
}

img {
    cursor: pointer;
}

.bottom-panel {
    width: 100%;
}

.bottom-panel img{
    height: 60%;
    padding: 2% 2% 2% 1%;
}
.pdf-viewer {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    height: 70vh;
    width: 50vw;
}
.control-panel {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -17px;
}
.control-panel-buttons {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
.control-panel-div {
    width: 113px;
    background: black;
    display: none;
}
.pdf-content {
    background: white;
    height: 100%;
    border: 5px solid black;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 10px;
    overflow: auto;
    font-family: Verdana;
    font-size: 20px;
}
body {
    font-family: Arial
}

.container {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    top: 17%;
    left: 28%;
    width: 50%;
    position: fixed;
    display: none;
}

.row {
    padding: 10px;
    background: #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 1%;
}

.middle {
    width: 74%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.dot {
    margin-top: 4px;
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

input[type=text] {
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: white;
    margin-top: -8px;
    height: 25px;
    color: #666;
    padding: 5px;
}

.bar {
    width: 17px;
    height: 3px;
    background-color: #aaa;
    margin: 3px 0;
    display: block;
}

.content {
    padding: 10px;
}
.file-system {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    top: 17%;
    left: 28%;
    width: 50%;
    position: fixed;
    display: none;
}
.window-name {
    font-weight: bold;
    font-size: 15px;
    width: 5vw !important;
    background: none !important;
    padding: 0 !important;
    margin-top: -3px !important;
}

.btn-group {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33%;
}

.btn-group .button {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    padding-top: 18px;
    padding-bottom: 13px;
    padding-left: 9px;
    padding-right: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 14%;
    display: flex;
  }
  
  .active, .btn:hover {
    background-color: #666 !important;
    color: white ;
  }

.home {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background: whitesmoke;
    width: 80%;
    gap: 6%;
    flex-flow: wrap;
    overflow-y: auto;
}

.home-icons {
    display: flex;
    flex-direction: column;
    height: 20%;
}

.home-icons img {
    height: 100%;
}

.desktop {
    display: none;
    flex-direction: row;
    padding: 15px;
    background: whitesmoke;
    width: 100%;
    gap: 3vw;
    flex-flow: wrap;
}

.projects {
    display: none;
    flex-direction: row;
    padding: 15px;
    background: whitesmoke;
    width: 100%;
    gap: 3vw;
    flex-flow: wrap;
}
.next {
    display: flex;
    left: 21%;
    position: relative;
    align-items: center;
    cursor: pointer;
    width: 1%;
}
.prev {
    display: flex;
    align-items: center;
    width: 1%;
}
.project-content  {
    display: flex;
    left: 12%;
    position: relative;
    height: 100%;
    width: 80%;
}
.project-content img {
    height: 100%;
    width: 100%;
}
.project-link {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    padding-left: 4vw;
}